/* يكتب ملف الستايل حسب القاعدة التالي
  العنصر
selector {
 فارزة منقوطة للفصل بين الخواص    القيمة    نقطتين للفصل بين الخاصية والقيمة    الخاصية
  property                  :                       value                ;
} */

  p {
    color: #F00;
    font-size: 100px;
    font-weight: bold;
  }
