.container{
  width: 600px;
  background: #DDD;
  padding: 10px;
}

/* هنا تم تغير لون جميع البارغراف في الصفحة */
p{
  color: #F00;
}

/* بينما هنا حددنا فقط البارغراف الموجود داخل الكونتينر
وغيرنا لونه وحجم الخط هذا ما يسمى النستنج */
.container p{
  color: #000;
  font-size: 20px;
}

/* جميع السبان في الصفحة جعلها مائلة واعطاها لون ازرق */
span{
  font-style: italic;
  color: #00F;
}
/* هنا حدد فقط السبان داخل البارغراف الموجود داخل
الكلاس الذي اسمة كونتينير جعل الستايل تبعة
عادي وكبر وزن خطة اعطاه اللون الاخضر */
.container p span{
  font-style: normal;
  font-weight: bold;
  color: #080;
}

/* الجمع بين الكروبنج والنستنج */
.container p span, container p {
  /* هنا نكتب الخواص المشتركة بين الاثنين ان وجدت */
}
