/* الفلوت ميزه رائعة لتعويم وترصيف العناصر جنب بعض
لا تستطيع اي اداة اخرى في السي اسس اداء هذه المهمة
من الممكن في مراحل متقدمة في السي اسس الاستغناء عنها
تدرس لاحقا وغير متأكد من هذه المعلومة */

.left1{
  width: 200px;
  background: #00F;
  color: #FFF;
  padding: 10px;
  /* القيمة الافتراضية للفلوت هي نون حتى نتمكن من الغاء
  اي قيمة للفلوت نعطيها للعنصر وارجاعة الى الوضع الافتراضية
  نستفاد من هذه الخاصية في التصيمات الرسبونسف
  المتجاوبة على كل الاجهرزه سواء الشاشه كبيرة وعندما تكون الشاشة
  صغيرة نرجع قيمة الفلوت للديفلت وهي نون */
  float: none;
}
.left2{
  width: 200px;
  background: #F00;
  color: #FFF;
  padding: 10px;
  /* في هذه الخاصية تلغي عرض العناصر بشكل عامودي
  وتجعلهم يعومون جنب بعض من جهة اليسار */
  float:left;
  margin:10px;
}
.spcial{
  width: 200px;
  background: #F00;
  color: #FFF;
  padding: 10px;
  /* نفس الخاصة السابقة ولكن سوف يعوم العنصر في
  الجانب الايسر على نفس المسار */
  float:right;
  margin:10px;
}
.post{
  width: 600px;
  background: #00F;
  color: #FFF;
  padding: 10px;
}
.post span{
  float: right;
}
.clear_float{
  /* لالغاء تأثير الفلوت السابق وبدأ سطر جديد */
  clear: both; /*للالغاء تأثير الفلوت في جميع الجهات*/
  /* ومن الممكن عمل كلير فقط لاتجاه واحد
  clear:left;
  clear: right; */

}
.right{
  float: right;
}
