/*نستخدم هذه الميره لاضافة محتوى للصفحة من خلال
السي اسس وبدون الحاجة لكتابتها في
html
لها تفاصيل معقدة نأخذها لاحقا*/

.content::before {      /*لاضافة محتوى بعد الدف ويمكن ان نجعلة قبل الدف*/
  display: block;
  content: none; /*القيمة الافتراضية لا يوجد اضافة*/
  content: "Hello I'm Her in CSS";
  color: #F00;
}
div{
  color: #00F;
}
.mouse{
  padding: 10px;
  margin:5px;
}
.mouse span{
  /* يوجد الكثير من اشكار الماوس سنأخذ مثالين على اشكال الماوس */
  cursor: pointer;  /*لتحويل شكل الماوس الى مؤشر*/
  cursor: progress; /*تحويل شكل الماوس الى وضع تحميل*/
}
