div{
  width:300px;
  padding: 10px;
  background: #F00;
  border: 5px solid #00F;
  /* سنلاحظ ان العرض اصبح 330 وهي 20 بادنج و 10 تبع البوردر */
  outline: 5px solid #080;
  /*سنلاحظ ان عرض العنصر سوف يبقى على حاله بعد اضافة الاوتلاين
  لانه لايأخذ من مساحة العنصر بل يأخذ من المساحة الخارجية اللعنصر*/
}
