.overflow{
  width:250px;
  height: 200px;
  background: #DDD;
  padding: 10px;
  margin-bottom: 5px;
  /* نستخدم خاصية الاوفر فلو للتحكم بالمحتوى الخارج عن حدود العنص */
  overflow: visible; /*القيمة الافتراضية*/
  overflow: hidden;  /*لاخفاء المحتوى الفائض*/
  overflow: scroll;  /*لاضافة سكرول بالطول والعرض لعرض المحتوى*/
  overflow: auto;    /*افضل خيار لانها تظهر السكرول فقط عند الحاجة اليها*/
}
/* فائدة مهمة لـ
overflow: hidden;
نستفاد منها لاظها تفاصيل الدف بعد ان تختفي
عندما نعمل لها فلوت وكما في المثال التالي
والسبب عندما نستخدم الفلوت يعتبر خرج عن الدف
خلاصة الكلام حتى نعرف عندما نعمل فلووت داخل عنصر
نحافظ على العناصر الاخرى بحيث لاتخرج منه*/
.visable{
  background: #F00;
  color: #FFF;
  /* هنا الفائدة */
  overflow: hidden;


}
p{
  float: left;
  margin-right: 10px;
}
