*
{
  margin:0;
  padding:0;
}
.marginLeson{
  background-color: #00F;
  color: #FFF;
  width:400px;
  margin: 10px; /*top right bottom left --> top=bottom & right=left*/
  margin: 20px 50px;/* 20px 50px 20px 50px*/
  margin-left: 0;
  margin-right:0;
  margin-top: 0;
  margin-bottom:0;
  /*تستخدم لعملية توسيط العناصر كما يلي*/
  margin:auto; /*auto === 0auto*/
  margin:50px auto 0 auto;
  /*يقبل القيم السالبة*/
  /* margin-top:-50px; */

}
.paddingleson{
  text-align: center;
  background-color: #F00;
  color: #FFF;
  width:400px;
  margin:auto;
  margin-top: 10px;
  padding:10px; /*10px 10px 10px 10px*/
  padding-top: 5px;
  padding: 20px 20px 0 20px;
  /*لا يقبل القيم السالبة مثل المارجن*/
}
