.div1,.div2,.div3{
  width: 200px;
  height:200px;
  padding: 10px;
  color:#FFF;
  position: absolute; /*حتى نتحكم في اولوية ظهور العناصر
في المحتوى يجب التعامل مع البوزشن في الوضع المطلق
لجميع العناصر ومن ثم تحديد  ابعاد اماكن الظهور*/
}
.div1{
  background: #F00;
  top: 0px;
  left: 0px;
  /* للتحكم من له اولية الظهور على الاخريكون من خلال قيمة:التالية */
  z-index: auto;/*بمعنى انه هذا العنصر سيكون بالاسفل*/
  z-index: 10;/*كلما زاد الرقم سيكون في الطبقة الاقرب*/
}
.div2{
  background: #00F;
  top: 20px;
  left:20px;
  z-index: 5;/*بمعنى ان هذا العنصر سيكون بالطبعة الثانية الوسط*/
}
.div3{
  background: #080;
  top: 40px;
  left: 40px;
  z-index: 2;
}
